[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
matplotlib = "*"
streamlit = "*"
sklearn = "*"
google-cloud-datastore = "*"
google-cloud-storage = "*"
openpyxl = "*"
spacy = "*"
pandas = "*"
watchdog = "*"
shillelagh = "*"
flask = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
mojek_service = {editable = true, path = "."}
jupyterlab = "*"

[requires]
python_version = "3.9"

[scripts]
jupyter="jupyter lab"
